{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to My Site</h1>
<p>This is the homepage.</p>
<img src="{{ url_for('static', filename='images/img1.jpg') }}" alt="Image 1">
<img src="{{ url_for('static', filename='images/img2.jpg') }}" alt="Image 2">
<img src="{{ url_for('static', filename='images/img3.jpg') }}" alt="Image 3">
<img src="{{ url_for('static', filename='images/img4.jpg') }}" alt="Image 4">
<img src="{{ url_for('static', filename='images/img5.jpg') }}" alt="Image 5">
{% endblock %}
